.PaginationButton--button__page {
    min-width: 25px;
    height: 25px;
    color:var(--black-text-700);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}