.signInPage {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-secondary);
  padding: 100px 0 100px 0;
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.form__logo {/* 
  width: 32px;
  height: 32px; */
  margin: 0 0 12px 0;
}

.form__title {
  margin: 0 0 24px 0;
}

.form__input {
  width: 100%;
}

.form__input--wrapper{
  width: 100%;
  margin: 0 0 16px 0;
}

.form__checkbox--wrapper {
  margin: 0 0 24px 0;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.form__button {
  width: 100%;
  border-radius: 10px;
  padding: 12px 0;
  margin: 0 0 32px 0;
  background-color: var(--accent-color);
  color: var(--white-100-color);
}

.form__button:disabled {
  background-color: var(--button-bg);
  color: var(--text-color)
}

.form__link {
  color: var(--accent-color);
  margin: 0 0 16px 0;
}

.error--text {
  color: var(--red-500-color);
  margin: 0 0 16px 0px;
}

@media (max-width: 1280px) {
  .form__button {
    padding: 8px 0;
  }
}

@media (max-width: 940px) {
  .form__button {
    padding: 6px 0;
  }
}